In [9]:
from sqlalchemy import create_engine
import os
import numpy as np
import pandas as pd
from dotenv import load_dotenv

def create_connection():

    load_dotenv()
    host = os.environ.get('DB_DESTINATION_HOST')
    port = os.environ.get('DB_DESTINATION_PORT')
    db = os.environ.get('DB_DESTINATION_NAME')
    username = os.environ.get('DB_DESTINATION_USER')
    password = os.environ.get('DB_DESTINATION_PASSWORD')
    
    print(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    conn = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    return conn

# устанавливаем соединение с базой
conn = create_connection()

postgresql://airflow:airflow@5.129.202.205:5433/data

In [5]:
import pandas as pd

In [10]:
df = pd.read_sql('SELECT * FROM users_bank', conn)

In [11]:
df.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [12]:
df.nunique()

id           750000
age              78
job              12
marital           3
education         4
default           2
balance        8217
housing           2
loan              2
contact           3
day              31
month            12
duration       1760
campaign         52
pdays           596
previous         50
poutcome          4
y                 2
dtype: int64

In [13]:
df.shape

(750000, 18)

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df.describe()

,id,age,balance,day,duration,campaign,pdays,previous,y
count,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000
mean,374999.500000,40.926395,1204.067397,16.117209,256.229144,2.577008,22.412733,0.298545,0.120651
std,216506.495284,10.098829,2836.096759,8.250832,272.555662,2.718514,77.319998,1.335926,0.325721
min,0.000000,18.000000,-8019.000000,1.000000,1.000000,1.000000,-1.000000,0.000000,0.000000
25%,187499.750000,33.000000,0.000000,9.000000,91.000000,1.000000,-1.000000,0.000000,0.000000
50%,374999.500000,39.000000,634.000000,17.000000,133.000000,2.000000,-1.000000,0.000000,0.000000
75%,562499.250000,48.000000,1390.000000,21.000000,361.000000,3.000000,-1.000000,0.000000,0.000000
max,749999.000000,95.000000,99717.000000,31.000000,4918.000000,63.000000,871.000000,200.000000,1.000000

In [24]:
for col in df.columns:
    print(df[col][df[col].isna()].count())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [25]:
df.dtypes

id            int64
age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y             int64
dtype: object

In [28]:
categorial_columns = df.select_dtypes(include='object').columns
pd.Series(categorial_columns)

0          job
1      marital
2    education
3      default
4      housing
5         loan
6      contact
7        month
8     poutcome
dtype: object

In [29]:
df[categorial_columns].head()

,job,marital,education,default,housing,loan,contact,month,poutcome
0,technician,married,secondary,no,no,no,cellular,aug,unknown
1,blue-collar,married,secondary,no,no,no,unknown,jun,unknown
2,blue-collar,married,secondary,no,yes,no,unknown,may,unknown
3,student,single,secondary,no,yes,no,unknown,may,unknown
4,technician,married,secondary,no,yes,no,cellular,feb,unknown

In [30]:
for column in categorial_columns:

    print(column, ': ', df[column].unique())

job :  ['technician' 'blue-collar' 'student' 'admin.' 'management' 'entrepreneur'
 'self-employed' 'unknown' 'services' 'retired' 'housemaid' 'unemployed']
marital :  ['married' 'single' 'divorced']
education :  ['secondary' 'primary' 'tertiary' 'unknown']
default :  ['no' 'yes']
housing :  ['no' 'yes']
loan :  ['no' 'yes']
contact :  ['cellular' 'unknown' 'telephone']
month :  ['aug' 'jun' 'may' 'feb' 'apr' 'nov' 'jul' 'jan' 'oct' 'mar' 'sep' 'dec']
poutcome :  ['unknown' 'other' 'failure' 'success']

In [36]:
need_fill_columns = []
need_drop_columns = []

for column in categorial_columns:
    print('Процент пропуска:')
    print(column, ': ', df[column][df[column] == 'unknown'].count() / df[column].count() * 100)
    percent = df[column][df[column] == 'unknown'].count() / df[column].count() * 100

    if percent > 0 and percent <= 40:
        need_fill_columns.append(column)
    if percent > 40:
        need_drop_columns.append(column)

Процент пропуска:
job :  0.3889333333333333
Процент пропуска:
marital :  0.0
Процент пропуска:
education :  2.8398666666666665
Процент пропуска:
default :  0.0
Процент пропуска:
housing :  0.0
Процент пропуска:
loan :  0.0
Процент пропуска:
contact :  30.8836
Процент пропуска:
month :  0.0
Процент пропуска:
poutcome :  89.66

In [ ]:
# poutcome исключить потому что процент огромный

In [ ]:
# для contact, education, job  сделать подстановку признаков через моду

In [37]:
pd.Series(need_drop_columns)

0    poutcome
dtype: object

In [38]:
pd.Series(need_fill_columns)

0          job
1    education
2      contact
dtype: object